@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/helpers/placeholders';

// General Styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    text-align: center;
}

h1, h2 {
    color: $black;
}

h2 {
    @include title-font(2rem, 2.25rem);
}

.intro-title, .btn, .number p {
    @include title-font(1rem, 1.625rem);
}

.info {
    margin-bottom: 2rem;
    color: $gray;
    @include text-font(1rem);

    &--footer {
        color: $white;
        font-size: 1.125rem;
    }
}

.btn {
    display: block;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.8125rem;
    color: $white;
    cursor: pointer;

    &--teal {
        background-color: $teal;

        .version {
            color: $light-teal;
        }
    }

    &--purple {
        background-color: $purple;

        .version {
            color: $light-purple;
        }
    }
}

// Header styles
.logo {
    display: block;
    margin: 3rem auto 3.375rem;
}

.hero {
    @extend %flex-center;
    flex-direction: column;
    overflow: hidden;

    &__people {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: block;
            width: 111%;
            max-width: 820px;
            max-height: 358px;
        }
    }

    &__description {
        width: 90%;
        margin: 3rem auto 4rem;

        h1 {
            width: 80%;
            margin: 0 auto 1.5rem;
            @include title-font(2.5rem, 2.75rem);
        }
    }
}

.buttons {
    @extend %flex-center;
    flex-direction: column;

    .btn:first-child {
        margin-bottom: 1rem;
    }
}

// Numbers

.number {
    @extend %flex-center;
    position: relative;
    width: 56px;
    aspect-ratio: 1 / 1;
    margin: 84px auto 0;
    color: $gray;
    border-radius: 50%;
    border: 1px solid hsla(240, 10%, 57%, 0.25);
    background-color: $white;

    &::before {
        content: "";
        width: 1px;
        height: 84px;
        position: absolute;
        top: -84px;
        left: 50%;
        opacity: 0.25;
        border-left: 1px solid $gray;
    }

    &--absolute {
        bottom: calc(-56px / 2);
        z-index: 2;
    }
}

// Main

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem 1.5rem;

    &__square {
        width: 46.2%;
        border-radius: 8px;

        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 1.5rem;
        }
    }

}

.intro-title {
    color: $teal;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

main {
    padding-bottom: 4rem;

    h2, .info {
        width: 85%;
    }

    h2 {
        margin: 0 auto 2rem;
    }

    .info {
        margin: 0 auto;
    }
}

// Footer 

footer {
    position: relative;
    background-color: $teal;
    padding: 5.75rem 1.5rem 4.5rem;
    mix-blend-mode: normal;
    z-index: 1;

    &::before {
        content: "";
        background: url(./assets/mobile/image-footer.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.1;
    }

    h2 {
        color: $white;
        margin-bottom: 1.5rem;
    }

    .info {
        &--footer {
            margin-bottom: 2rem;
        }
    }

    .btn {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    // Header
    .hero {
        &__description {
            width: 59.5%;
            max-width: 33.75rem;

            h1 {
                @include title-font(3rem, 3rem);
            }
        }
    }

    .buttons {
        flex-direction: row;

        .btn:first-child {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }

    // Main

    .photos {
        flex-wrap: nowrap;
        margin: 4.1875rem 2.5rem 3rem;

        &__square {
            width: 23.8%;

            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }

    main {
        padding-bottom: 5rem;

        .intro-title {
            margin-bottom: 1rem;
        }

        h2 {
            max-width: 445px;
        }

        .info {
            width: 74.6%;
        }
    }

    h2 {
        @include title-font(2.5rem, 2.75rem);
    }

    // Footer

    footer {
        padding: 5.75rem 6.125rem 4.125rem;

        &::before {
            background-image: url(./assets/tablet/image-footer.jpg);
        }

        h2 {
            width: 79.9%;
            margin: 0 auto 2rem;
        }
    }
}

@media only screen and (min-width: 1200px) {
    // General styles
    .info {
        @include text-font(1.125rem);
    }

    .btn {
        &:hover {
            opacity: 0.8;
        }

        &--teal {
            &:active {
                background-color: $active-teal;
            }
        }

        &--purple {
            &:active {
                background-color: $active-purple;
            }
        }
    }
    
    //Header
    .logo {
        margin: 5rem auto 3.8125rem;
    }

    .hero {
        position: relative;
        margin-bottom: 12.125rem;

        &__people {
            &--desktop {
                display: block;
                position: absolute;
                z-index: -1;
                width: 104.5%;
                max-width: 1504px;
                height: 100%;
                background: url(./assets/desktop/image-hero-left.png) no-repeat left top, 
                            url(./assets/desktop/image-hero-right.png) no-repeat right bottom;
            }

            &--mobile {
                display: none;
            }
        }

        &__description {
            margin-bottom: 0;

            h1 {
                margin-bottom: 2.125rem;
                @include title-font(4rem, 4rem);
            }
        }
    }

    // Main

    .photos {
        margin: 4rem auto 5rem;
        max-width: 1110px;
    }

    main {
        .info {
            width: 37.5%;
            max-width: 540px;
        }
    }

    // Footer

    footer {
        padding: 7.25rem 0 6.5rem;
        text-align: left;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1110px;
            margin: 0 auto;
        }

        &::before {
            background-image: url(./assets/desktop/image-footer.jpg);
        }

        h2, .info--footer {
            width: 41%;
            max-width: 350px;
        }

        h2, .info--footer, .btn {
            margin: 0;
        }
    }
}