@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

// General Styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    text-align: center;
}

h1, h2 {
    color: $black;
}

.intro-title, .btn, .number p {
    @include title-font(1rem, 1.625rem);
}

.info {
    margin-bottom: 2rem;
    color: $gray;
    @include text-font(1rem);

    &--footer {
        color: $white;
        font-size: 1.125rem;
    }
}

.btn {
    display: block;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.8125rem;
    color: $white;
    cursor: pointer;

    &--teal {
        background-color: $teal;

        .version {
            color: $light-teal;
        }
    }

    &--purple {
        background-color: $purple;

        .version {
            color: $light-purple;
        }
    }
}

// Header styles
.logo {
    display: block;
    margin: 3rem auto 3.375rem;
}

.hero {
    &__people {
        display: block;
        min-height: 153px;
        width: 100%;
        background: url(./assets/tablet/image-hero.png) no-repeat center;
        background-size: cover;
    }

    &__description {
        width: 90%;
        margin: 3rem auto 4rem;

        h1 {
            width: 80%;
            margin: 0 auto 1.5rem;
            @include title-font(2.5rem, 2.75rem);
        }
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn:first-child {
        margin-bottom: 1rem;
    }
}