/* Colors */
$black: hsl(240, 21%, 20%);
$gray: hsl(240, 10%, 57%);
$white: hsl(0, 0%, 98%);
$teal: hsl(192, 37%, 48%);
$purple: hsl(268, 34%, 53%);
$light-teal: hsl(192, 90%, 77%);
$light-purple: hsl(268, 100%, 86%);

/* Active colors */
$active-teal: hsl(192, 54%, 64%);
$active-purple: hsl(268, 55%, 71%);


/* Font */
$f-family: 'Red Hat Display', Helvetica, Arial, sans-serif;